<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
     http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.1.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-v.xsd">

	<!-- enable component scanning and autowire (beware that this does not enable 
		mapper scanning!) -->


    <!-- load H2 jdbc properties -->
    <context:property-placeholder location="classpath:jdbc-h2.properties"/>

	<context:component-scan base-package="com.gmail.fowlk1kd">
		<!-- <context:include-filter type="regex" expression="com.gmail.fowlk1kd.dao.*DAO*" 
			/> <context:include-filter type="regex" expression="com.gmail.fowlk1kd.services.*Service*" 
			/> <context:include-filter type="regex" expression="com.gmail.fowlk1kd.test.services.*Test*" 
			/> <context:include-filter type="regex" expression="com.gmail.fowlk1kd.test.web.*Test*" 
			/> -->
	</context:component-scan>

	<bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource">

		<constructor-arg>
			<bean class="com.zaxxer.hikari.HikariConfig">
				<constructor-arg>
					<props>
						<prop key="dataSource.url">${jdbc.url}</prop>
						<prop key="dataSource.user">${jdbc.user}</prop>
						<prop key="dataSource.password" >${jdbc.password}</prop>
					</props>
				</constructor-arg>
				<property name="dataSourceClassName" value="org.h2.jdbcx.JdbcDataSource" />
			</bean>
		</constructor-arg>
	</bean>
	
	<!-- in-memory database and a datasource -->
	<jdbc:initialize-database data-source="dataSource">
        <jdbc:script location="classpath:db/migration/V1_0__initial_load.sql"/>
        <!-- <jdbc:script location="classpath:test-data.sql"/> -->
    </jdbc:initialize-database>
    
    <!-- 
	<jdbc:embedded-database id="dataSource" type="HSQL">
		<jdbc:script location="classpath:db/migration/V1_0__initial_load.sql" />
	</jdbc:embedded-database>
 	-->
 
	<bean id="sql2o" class="org.sql2o.Sql2o">
		<constructor-arg type='javax.sql.DataSource' ref='dataSource' />
	</bean>

</beans>